<div class="container tbl">
  <table class="table table-bordered secondary">
  <thead>
    <tr>
      <th class="col-sm-6 clmn rght">NAME</th>
      <th class="col-sm-4 clmn rght">QTY</th>
      <th class="col-sm-2 clmn">PRICE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="rght">Shoes</td>
      <td class="rght">4</td>
      <td class="rlt">
        <span>$300</span>
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <i class="fa fa-trash-o" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td class="rght"></td>
      <td class="rght"></td>
      <td>
        <span>Total Price</span>
        <p>$3000</p>
      </td>
    </tr>
  </tbody>
  </table>

</div>
